@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(  --color-darkslategray-200);
}

:root {
  --max-width-s : 640px;
  --max-width-m : 1024px;
  --max-width-l : 1440px;

  --baseline : 30px;

  --color-white: #fff;
  --color-darkslategray-100: #1b425e;
  --color-darkslategray-200: #002946;
  --color-gainsboro: #e3e3e3;
  --color-steelblue-100: #1777bc;
  --color-steelblue-200: #005a9b;
  --color-gray-100: #fbfdfe;
  --color-gray-200: #092232;
  --color-lightslategray: #7893a7;
  --color-whitesmoke: #f4f6f8;
  --grays-cool-gray-40: #a7aeb8;
  --color-darkgray-100: #aaa9a9;
  --color-silver: #bdcad3;
}

img {
  max-width: 100%;
  width: auto;
}

h1, h2, h3, h4 {
  line-height: 1.2;
}

h1 { font-size: 80px; }

h2 { font-size: 60px; }

h3 { font-size: 40px; }

h4 { font-size: 30px; }

h5 { font-size: 25px; }

h6 { font-size: 20px; }

@media (max-width: 1024px) {
  h1 { font-size: 50px; }

  h2 { font-size: 35px; }

  h3 { font-size: 30px; }

  h4 { font-size: 25px; }

  h5 { font-size: 20px; }

  h6 { font-size: 18px; }
}
