.vectorIcon,
.vectorIcon1 {
  position: absolute;
  height: 23.27%;
  width: 5.92%;
  top: 0.02%;
  right: 94.05%;
  bottom: 76.71%;
  left: 0.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon1 {
  height: 68.3%;
  width: 6%;
  top: 30.59%;
  right: 94%;
  bottom: 1.11%;
  left: 0;
}
.vectorIcon2,
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
  position: absolute;
  height: 99.05%;
  width: 18.94%;
  top: 0;
  right: 73.14%;
  bottom: 0.95%;
  left: 7.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vectorIcon3,
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
  width: 18.96%;
  right: 52.26%;
  left: 28.78%;
}
.vectorIcon4,
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
  height: 98.9%;
  width: 18.94%;
  right: 31.42%;
  bottom: 1.1%;
  left: 49.63%;
}
.vectorIcon5,
.vectorIcon6,
.vectorIcon7 {
  height: 98.88%;
  width: 19.17%;
  top: 0.02%;
  right: 10.33%;
  left: 70.49%;
}
.vectorIcon6,
.vectorIcon7 {
  height: 28.3%;
  width: 5.44%;
  top: 53.65%;
  right: 3.23%;
  bottom: 18.05%;
  left: 91.33%;
}
.vectorIcon7 {
  height: 98.95%;
  width: 19.15%;
  top: 0;
  right: 0.09%;
  bottom: 1.05%;
  left: 80.76%;
}
.logo {
  text-decoration: none;
  position: relative;
  width: 104px;
  height: 20px;
  flex-shrink: 0;
  overflow: hidden;
}
.dropdownbuttonlabel {
  position: relative;
  line-height: 30px;
  text-transform: capitalize;
}
.chevronDown16Icon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.navNavitemDropdownbutton {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.navhoverstate3 {
  position: relative;
  width: 69px;
  height: 30px;
  flex-shrink: 0;
}
.navNavitemLink {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navhoverstate34 {
  text-decoration: none;
  position: relative;
  width: 47px;
  height: 30px;
  flex-shrink: 0;
  color: inherit;
}
.navNavitemLink1:hover,
.navhoverstate34:hover {
  background-color: var(--color-steelblue-200);
}
.navNavitemLink1 {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  color: inherit;
}
.navhoverstate35 {
  position: relative;
  width: 47px;
  height: 30px;
  flex-shrink: 0;
}
.navLeftitems,
.navNavmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.navLeftitems {
  gap: var(--gap-61xl);
}
.vectorIcon8 {
  position: absolute;
  height: 84.49%;
  width: 84.49%;
  top: 6.14%;
  right: 9.37%;
  bottom: 9.38%;
  left: 6.14%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search {
  text-decoration: none;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.groupIcon,
.vectorIcon9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupIcon {
  height: 34.77%;
  width: 44.75%;
  top: 32.61%;
  right: 25.25%;
  bottom: 32.63%;
  left: 30%;
}
.flagstr {
  text-decoration: none;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.vectorIcon10 {
  position: absolute;
  height: 62.5%;
  width: 75%;
  top: 18.75%;
  right: 12.5%;
  bottom: 18.75%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mobilemenu {
  text-decoration: none;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  display: none;
  cursor: pointer;
}
.navSecondarymenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.header,
.navigationTest {
  background-color: var(--color-white);
}
.header {
  position: relative;
  margin: auto;
  min-height: 70px;
  top: 10px;
  left: 0;
  border-bottom: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xl) var(--padding-61xl);
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}
.navigationTest {
  position: fixed;
  top: 0%;
  width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .header {
    width: auto;
    height: auto;
    gap: var(--gap-248xl);
    align-items: flex-start;
    justify-content: center;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .navNavmenu {
    display: none;
  }
  .mobilemenu {
    display: flex;
  }
  .header {
    width: 1440px;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
    max-width: 960px;
  }
}
@media screen and (max-width: 420px) {
  .header {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    max-width: 420px;
  }
}
